#fh5co-home .gradient,
#fh5co-services .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/*   z-index: 2; */
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background-color: #00020140;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #00020140), color-stop(1, #130011fa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #00020140 0%, #130011fa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #8a59a740 0%, #343e35fa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #00020140 0%, #130011fa 100%);
}
#fh5co-home .row{
  background-color: rgba(0,0,0,0.3);
}
#fh5co-home .text-inner h2{
  color: rgba(255, 255, 255, 0.9);
}
#fh5co-services{
  text-shadow: #271706 1px 0px 2px;
  color: rgba(255, 255, 255, 0.9);
}
#fh5co-services .container{
  background-color: rgba(0,0,0,0.2);
}
#fh5co-intro .fh5co-block > .fh5co-text,
#fh5co-intro .fh5co-block h2,
#fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon{
  color: #fff;
}
#fh5co-intro .fh5co-block{
  border: 1px solid white;
}